
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}


.container{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: rgba(148, 253, 251, 0.9);
}

img{
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

h1{
    font-size: 100px;
    color: black;
    margin-bottom: 50px;
}

.show{
font-size: 40px;
color: black;
margin-bottom: 30px;
}

.btns{
    padding: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}
